<#--
 * Copyright (C) 2014 Dario Scoppelletti, <http://www.scoppelletti.it/>.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *     http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<#if hasFieldErrors>
<div class="form-group">
	<div class="col-md-12">
		<p class="form-control-static text-danger">
    		<#list fieldErrors[parameters.name] as error>
    			<#if error_index &gt; 0><br/></#if>${error?html}
			</#list>
		</p>			
	</div>
</div>        
</#if>
