<#--
 * Copyright (C) 2014 Dario Scoppelletti, <http://www.scoppelletti.it/>.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *     http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<#include "/${parameters.templateDir}/${parameters.expandTheme}/controlheader.ftl" />
<div class="col-md-10">
	<p<#rt/>
<#if parameters.id??>
 id="${parameters.id?html}"<#rt/>
</#if>
<#if parameters.cssClass??>
 class="form-control-static ${parameters.cssClass?html}"<#rt/>
<#else>
 class="form-control-static"<#rt/>  
</#if> 
><#rt/>	
<#if parameters.nameValue??>
${parameters.nameValue?html}<#rt/>
</#if>	
</p>
</div>
<#include "/${parameters.templateDir}/${parameters.expandTheme}/controlfooter.ftl" />
