<#--
 * Copyright (C) 2014 Dario Scoppelletti, <http://www.scoppelletti.it/>.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *     http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<#if !parameters.readOnly?default(false)>
    <@s.text name="label.remove" var="labelRemove" />
    <div class="form-group">
        <div class="col-xs-2">
            <button type="button" title="${labelRemove}" class="btn btn-danger">
		      <span class="glyphicon glyphicon-minus"></span>
              <span class="sr-only">${labelRemove}</span>
            </button>  		
        </div>
        <label class="col-xs-10"><#rt/>
            <#if parameters.selectedLabel??>
                ${parameters.selectedLabel?html}<#t/>
            <#else>
                <@s.text name="label.options.selected" /><#t/>
            </#if>			
        </label><#t/>	
    </div>
</#if>	 
<div class="form-group">
	<div class="col-md-12">
        <select class="form-control" multiple="multiple"<#rt>                
<#if parameters.selectedSize??>
 size="${parameters.selectedSize}"<#rt/>
</#if>            
>
            <@s.iterator value="parameters.nameValue" var="optionKey">        
                <#assign optionDesc =
parameters.optionNameValue[optionKey]?default(optionKey) />      
                <option value="${optionKey?html}">${optionDesc?html}</option>            
            </@s.iterator>
        </select>
<#if !parameters.readOnly?default(false)>
        <@s.iterator value="parameters.nameValue" var="optionKey">
<input type="hidden" name="${parameters.name?html}" value="${optionKey?html}" />        
        </@s.iterator> 
</#if>
	</div>                   	
</div>
