<#--
 * Copyright (C) 2014 Dario Scoppelletti, <http://www.scoppelletti.it/>.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *     http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<@s.text name="label.add" var="labelAdd" />
<div class="form-group">
	<div class="col-xs-2">
		<button type="button" title="${labelAdd}" class="btn btn-success">
    		<span class="glyphicon glyphicon-plus"></span>
    		<span class="sr-only">${labelAdd}</span>
		</button>  		
	</div>
	<label class="col-xs-10"><#rt/>
        <#if parameters.availableLabel??>
            ${parameters.availableLabel?html}<#t/>
        <#else>
            <@s.text name="label.options.available" /><#t/>
        </#if>					
    </label><#t/>
</div>		 
<div class="form-group">
	<div class="col-md-12">
        <select class="form-control" multiple="multiple"<#rt>                
<#if parameters.optionSize??>
 size="${parameters.optionSize}"<#rt/>
</#if>            
>
            <@s.iterator value="parameters.optionNameValue">
                <#assign optionKey = stack.findValue('key') />        
                <#if !parameters.nameValue[optionKey]??>      
                    <#assign optionDesc = stack.findValue('value') />
                    <option value="${optionKey?html}"><#rt/>
                        ${optionDesc?html}<#t/>
                    </option><#t/>
		        </#if>
		    </@s.iterator>
        </select>  
	</div>
</div>
