<p>Protetto dalla licenza Apache License, Versione 2.0 (la &ldquo;Licenza&rdquo;);
non &egrave; possibile utilizzare questo software se non rispettando le condizioni della Licenza.<br />
Si pu&ograve; ottenere una copia della Licenza all&rsquo;indirizzo</p>

<blockquote>
<a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">http://www.apache.org/licenses/LICENSE-2.0</a>
</blockquote>

<p>Se non richiesto da leggi applicabili o concordato per iscritto, il software
distribuito secondo la Licenza &egrave; distribuito &ldquo;COS&Igrave;
COM&rsquo;&Egrave;&rdquo;, SENZA GARANZIE O IMPEGNI DI ALCUN TIPO, esplicito o
implicito.<br />
Si veda la Licenza nelle propria lingua che stabilisce i permessi e i limiti
secondo la Licenza.</p>

