<p>Licensed under the Apache License, Version 2.0 (the &ldquo;License&rdquo;);
you may not use this software except in compliance with the License.<br />
You may obtain a copy of the License at</p>

<blockquote>
<a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">http://www.apache.org/licenses/LICENSE-2.0</a>
</blockquote>

<p>Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an &ldquo;AS IS&rdquo; BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.<br />
See the License for the specific language governing permissions and limitations
under the License.</p>

