/*!
 * Copyright (C) 2011-2012 Dario Scoppelletti, <http://www.scoppelletti.it/>.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *     http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
textarea {
    resize: none;
}
.it-scoppelletti-lowercase {
    text-transform: lowercase;
}
.it-scoppelletti-uppercase {
    text-transform: uppercase;
}
div.btn-toolbar {
    margin-bottom: 15px;
}
div.it-scoppelletti-empty {
}
div.it-scoppelletti-optionSelect {
}
div.it-scoppelletti-optionValueSelect {
}
span.it-scoppelletti-collapseExpand:hover {
    cursor: pointer;
}

