<#--
 * Copyright (C) 2011-2013 Dario Scoppelletti, <http://www.scoppelletti.it/>.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *     http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->        
<#if !loggedUserActive?default(false)>
    <@web.authorize access="isAuthenticated()">
        <@web.applServerUrl var="baseUrl" />
        <@web.authentication property="principal.id" var="userId" />
        <#assign actionUser = "${baseUrl}/it-scoppelletti-wui/security/userFormXview.action">
        <li><@s.a value="${actionUser}">
            <@s.param name="viewState.entityId">${userId}</@s.param>
            <@s.text name="label.user" />
            
            <@web.authentication property="principal.code" />
        </@s.a></li>
    </@web.authorize>
</#if>

